<%= form_with model: @stamp, local: true do |f|%>
<div class="card">
  <%= link_to image_tag(stamp.image.variant(resize: '600x600'), class: :card__img ), stamp_path(stamp.id)%>
  <div class="card__body">
    <%= link_to stamp.prefecture.name, stamp_path(stamp.id), class: :card__title%>
    <p class="card__summary">
      <%= stamp.place  %>
    </p>
    <%= link_to "by #{stamp.user.name}", root_path, class: :card__user %>
  </div>
</div>
<% end %>