<%= form_with model: @stamp, local: true do |f|%>
<div class="card">
  <%= link_to image_tag(stamp.image, class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to stamp.prefecture, root_path, class: :card__title%>
    <p class="card__summary">
      <%= stamp.place  %>
    </p>
    <%= link_to "by #{stamp.user.name}", root_path, class: :card__user %>
  </div>
</div>
<% end %>