<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @stamp.title%>
      </p>
      <%= link_to "by #{@stamp.user.name}", user_path(@stamp.user.id), class: :prototype__user %>
      <% if user_signed_in? && current_user.id == @stamp.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_stamp_path, class: :prototype__btn %>
          <%= link_to "削除する", stamp_path(@stamp.id),method: :delete, class: :prototype__btn %>
        </div>
        <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag @stamp.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">都道府県</p>
          <p class="detail__message">
            <%= @stamp.prefecture.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">場所</p>
          <p class="detail__message">
            <%= @stamp.place %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
           <%= form_with model: [@stamp,@comment],local: true do |f|%>
            <div class="field">
               <%= f.label :content, "コメント" %><br />
               <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
               <%= f.submit "送信する", class: :form__btn  %>
            </div>
           <% end %>
           <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <li class="comments_list">
          <strong><%= link_to "#{comment.user.name}",user_path(comment.user.id)  %>：</strong>
          
          <%= comment.content %>
            </li>
            <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      
      </div>
    </div>
  </div>
</main>
